body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #97ABD8;
    color: #212121;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.description {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin-bottom: 10px;
}

.icons a {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s;
}

.icons a:hover {
    transform: scale(1.3);
}

.icons img {
    width: 50px;
    height: 50px;
}

.icons .email-icon img {
    height: 50px;
    width: auto;
}

.icon-name p {
    margin: 0;
    font-size: 1em;
    color: #212121;
    text-align: center;
}
